img {
  border: none;
  outline: none;
}
.logindiv{
    background-color: #363e4f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginformandimgdiv{
     background-color: rgb(255, 255, 255);
     border-radius: 5px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
     width: 790px;
     height: 395.5px;  
}

.loginlogo{
    width: 60px;
    position: relative;
    bottom: 30px;
    left: 5px;

}
.loginformandimgdiv form{
  padding: 30px;
  width: 60%;
  display: block;
  
}
.myntratext{
    position:relative;
    bottom: 20px;
    font-weight: 700;
}
.loginformandimgdiv form input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.loginformandimgdiv form label{
    font-weight: 700;
}
.loginformandimgdiv form button {
    background-color: #ff3f6c;
    color:white;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 70%;
    padding: 3px;
    margin-left: 30%;
}
.akkalogo{
    width: 100%;
    border-left: 0.5px rgb(245, 241, 241) solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
}

/* Navbar styles */
.navbardiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 8px black;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 1;
  background-color: white;
  white-space: nowrap; /* Prevent text wrapping */
  overflow-x: auto; /* Scroll horizontally if too wide */
}

.navbardiv h6{
position: relative;
left: 15px;
font-size: 16px;
display: inline;
color: grey;
}

.search-icon{
    position: relative;
    left: 90px;
    top: 5px;
    display: inline;
    z-index: 1;
}

.navbardiv img{
    width: 130px;

}

.navbardiv p{
    display: inline;
    margin-right:30px;
    font-weight:700;
    color: black;
}


.navbardiv p:hover{
    color:rgb(153, 151, 151);
    cursor: pointer;
}

.navbarsearch{
    position: relative;
    left: 50px;
    width: 400px;
    padding: 8px;
    padding-left: 50px;
    border:none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(231, 228, 228);
}

.navbarsearch:hover{
background-color: rgb(208, 206, 206);
border: none;
outline: none;
}
.navbarsearch::placeholder{
    font-size: 14px;
   padding-left: 5px;
   
}

.navemoji{
    text-align: center;
    position: relative;
    left: 50px;
    top: 12px;
   margin-left: 120px;
   font-size: 50px;
   padding: 0px;
}

.navemoji h4{
    display: inline;
    margin-right: 10px;
    
}



.navbardiv div {
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 5px;
    padding: 0px;
    margin: 0px;
    margin-right: 40px;
}
/* slider */
.homepagecategory{
    margin-top: 20px;
}
.homepagecategory h1{
    color: #f60a41;
    text-align: center;
}
.homepagecategory img{
    width: 300px;
    display: inline-block;
    
}
.category-row{
    display: inline;
}

/* Error Div styles */

.errordiv{
   text-align: center;
    margin-top: 20vh;
}
.errordiv h1{
    font-size: 170px;
    padding: 20px;
}
.errordiv h3,h5{
    padding-bottom: 10px;
}

/* product page's Sort tag */
.menspagesort{
    position: fixed;
    left: 30px;
    padding: 10px;
    padding-bottom: 0px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}


/* productpage */
.productpage{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

.product-div{
    width:250px;
    display: inline-block;
    border-radius: 5px;
    margin: 20px;
    background-color: rgba(3, 179, 255, 0.06);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);   
}
.categorybanner{
    width:100%;
    height:470px;
    margin:20px;
    text-align:center;
    border: none;
   }
.categorybanner img{
    border-radius: 10px;
    border: none;
}
.product-div:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}
.productpage img{
    width: 100%;
    border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-bottom: 0.5px black solid;
   
}

/* add cart button in mens page */

.addcartbutton {
  background: #ff3f6c;
  margin-left: 46px;
  color: white;
  border: none;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.addcartbutton:hover {
  background-color:#ff003c;  /* Hover effect */
  padding: 5px;
}

.addcartbutton.added {
  background-color: grey;  /* Green when clicked (Added) */
  color: white;
  padding: 5px;
}

.addwishlistbutton{
      
    background-color: transparent;
    margin-left: 10px;
    border: none;
    font-weight:900;
}
.addcartcount{
   
    position: absolute;

    bottom: 33px;
    left: 200px;
    font-size: 16px;
    background-color: red;
    color:white;
    border-radius: 100%;
    padding-left:6px;
    padding-right: 6px;
}

.wishlistcount{
    position:absolute;
    bottom:33px;
    left: 110px;
    background-color: red;
    font-size: 16px;
    color: white;
    display: inline;
    border-radius: 100%;
    padding-left: 6px;
    padding-right: 6px;
}
.menspagerating{
    display: inline;
   position:relative;
   bottom: 465px;
   left: 5px;
   background-color: rgba(90, 191, 246, 0.94);
   border-radius: 5px;
   padding-left: 8px;
   padding-right: 8px;
}

.menspagemyntralogo{
    width: 50px;
}
.rating{
    display: inline;
   position:relative;
   bottom: 325px;
   left: 5px;
   background-color: rgba(90, 191, 246, 0.94);
   border-radius: 5px;
   padding-left: 8px;
   padding-right: 8px;
}

/* Profilepage */
.profilediv{
    margin: auto;
    margin-top: 50px;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    background-image: url("./assets/Profilebackground.png");
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.profiletable{
    padding-right: 200px;
    background-color: white;
    padding: 20px;
    position: fixed;
    left: 370px;
    bottom: 130px;
}
.profiletable td{
    padding-left:20px ;
    padding-bottom: 20px;
    font-weight: 600;
}


/* quantity buttons (+ and -) */
.quanbutton{
    border: none;
    background-color: transparent;
    font-weight: 600;
}
/* cart page product styles */
.cartproductdiv{
    margin: 40px;
    width: 554px;
    height: 330px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.cartproductdiv:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}
.cartpageimgdiv{
    width: 250px;
    display: inline-block;
    border-radius: 5px;
}
.cartpageimg{
    width: 99%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}
.cartpagetablediv{
    position: relative;
    bottom: 20px;
    width: 300px;
    height: 300px;
    display: inline-block;
}
.cartpagetable{
    width: 99%;
    margin:10px ;
}
.cartpagetable th,td{
padding-top: 20px;
   
}
.cartremovebutton{
    background-color: rgb(244, 172, 172);
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;    
}
.inspectimgdiv{
    width: 450px;
    height:550px;
    border: none;
    border-radius: 5px;
    background-color: rgb(246, 188, 188);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 140px;
    right: 400px;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.1s ease-out;
}

.inspectimgdiv.show{
 opacity: 1;
 transform: scale(1);
}

.inspectimgdivempty{
    position: fixed;
    top:50%;
    right: 35%;
    font-weight: 630;
    color: grey;
}

.inspectimg{
    width: 100%;
    height: 100%;
    border-radius: 5px;
   
}

/* wishlist */
.wishlistproduct-div{
    width:250px;
    display: inline-block;
    border-radius: 5px;
    margin: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.wishlistproduct-div:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

.wishlistproduct-div button{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 20%;
    background-color: rgb(232, 172, 172);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.wishlistimg{
    width: 100%;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wishlisttable{
    width: 90%;
    margin: auto;
   
}
.wishlisttable td{
    padding: 0px;
}
.wishlistrating{
    background-color: rgb(234, 145, 145);
    display: inline;
    padding-left: 3px;
    padding-right:3px ;
    border-radius: 5px;
    position: relative;
    bottom: 325px;
    
    margin-left: 10px
}
.wishpagetdbold{
    font-weight: 350;
}
/* order card styles */
.ordercard{
    background-color:aliceblue;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
    padding: 35px;
    position: fixed;
    right: 40px;
    bottom: 50px;
}
.ordercard p{
    font-weight: 500;
}
.ordercard button{
    background: linear-gradient(135deg, #ff3f6c, #ff527b);
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-left: 30px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 3px;
}
.ordercard button:hover{
    background: linear-gradient(135deg, #f31e50, #f60a41);
}

/* Order apage styles */
.orderpagediv{
   width: 600px;
   margin:auto;
   margin-top: 20px;
}
.orderhistorybtn{
    font-weight: 700;
    position:fixed;
    left: 20px;
    top:130px;
    background-color:#ff3f6c;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 7px;
    border-radius: 5px;
    border: none;
}
.orderitemdiv{
    height: 155px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);

}
.orderitemdiv:hover{
    height: 155px;
    background-color:lightgrey;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}
.orderitemdiv img{
    height:100%;
    display: inline-block;
}
.orderpagesuccessmessage{
    text-align: center;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.orderlisttable{
    display: inline;
    margin-left: 15%;
    position: relative;
    bottom: 40px;
}
.orderlisttable td{
    font-weight: 600;
}

.orderdetails{
    width: 250px;
    height: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    right:70px;
    bottom:50px;
    background-color:rgb(255, 255, 255);
    color: black;
    text-align: center;
}
.orderdetails h4{
    margin-top: 20px;
    color: black;
}
.orderdetailstable{
    width: 100%;
    
}
.orderdetailstable td{
    font-weight: 650;
    color:rgb(68, 68, 68);
}
.orderpageemptydiv {
  display: flex;
  justify-content: center;   
  align-items: center;       
  width: 100%;               
}

.orderpagenoproductimg {
  width:400px;      
  margin-top: 100px;         
}

.emptymessage{
    text-align: center;
}
 

/* Order history page div */

/* .historywholediv{
    display: inline-block;
} */
.historyordertitle{
    text-align: center;
    color: #ff003c;
    padding-bottom: 10px;
}
.orderhistorylist{
    width: 500px;
    margin: 40px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.historyordereachproduct{
    height: 135px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.orderhistoryimage{
    height: 100%;
    display: inline-block;
}
.orderhistoryproducttable{
    padding: 10px;
    display: inline;
    position: relative;
    bottom:40px;
}
.orderhistoryproducttable td{
    padding-left: 30px;
    color: black;
    font-weight: 400;
}
.backtohome{
    position:fixed;
    right: 30px;
    bottom: 30px;
    background-color: #f31e50;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    border-radius: 5px;

}
